body {
    background: $primary-color;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: $black-color;
    margin-bottom: 20px;
}

#map {
    width: 100%;
    max-width: 500px;
    height: 500px;
    box-shadow: 0px 0px 10px 5px rgba($black-color, 0.5);
}